<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header}}

		<!-- Nav -->
		{{> navbar}}

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<h2>ERES SOLECITO DE MAÑANA</h2>
					<p>Eres solecito de mañana,
Se colo por mi ventana,
Calento toda mi alma
Y alumbro mi corazón (bis)

Eres mi razon en estos tiempos de locura,
Mi esperanza que algun tiempo se perdio,
Que se acabe tanta guerra que es muy dura
Y que mas luces como tu aqui traiga dios.</p>
					<div class="row">
						<div class="6u 12u$(small)">
							<h3>Eres Mia Mi Amor</h3>
							<p>He estado vagando por aquí
Siempre cabizbajo y todo lo que veo
Son caras pintadas llenas de lugares que no puedo alcanzar
Sabes que me haría bien alguien
Sabes que me haría bien alguien

Alguien como tú, todo lo que sabes y cómo hablas
Amantes incontables encubiertos en la calle
Sabes que me haría bien alguien
Sabes que me haría bien alguien

Alguien como tú</p>
						</div>
						<div class="6u$ 12u$(small)">
							<h3>Borracha te conoci(borracha he borracha)Borracha viniste a mi(borracha he borracha)Borracha te enamore</h3>
							<p>Borracha no te conoci pero si te di el primer beso </p>
						</div>
						<!-- Break -->
						<div class="4u 12u$(medium)">
							<h3>ERES MI ESTRELLITA</h3>
							<p>Eres mi estrellita errante
Eres mi oveja perdida
Eres todo lo que quiero
Lo que quiero en esta vida

Y eres mi estrellita errante
Y eres mi oveja perdida
Y eres todo lo que quiero
Lo que quiero en esta vida

Eres el as que me falta
Para ganar la partida
Eres todo lo que quiero
Lo que quiero en esta vida</p>
						</div>
						<div class="4u 12u$(medium)">
							<h3>ERES MI SOL ENTRE MILLONES DE ETRELLAS</h3>
							<p>¡Te quiero!, por encima de todo, palabras se quedan cortas
Sentirte es lo más precioso, me pierdo en tu mirada
Me derrito en tu boca, me despierto junto a ti
Luego chocar el mar en las rocas, sé que es duro ver
Cómo se aleja el tren y la persona que más amas viaja
Y se marcha con él, pero la distancia
No es obstáculo para ninguno, desde una playa solos
Vimos amanecer juntos, son sentimientos agarrados
A estos folios, una historia tan fantástica
Donde no existe el odio, faltan páginas en este
Cuento que los dos llenamos, cada paso, cada beso
Cada abrazo, es un relato que narra mi cabeza
Y escribe este corazón
Porque la única razón de seguir es esta relación
Nuestra unión,el vinculo que nos une
¡Quiero bajarte la luna y elevarte hasta las nubes!</p>
						</div>
						<div class="4u$ 12u$(medium)">
							<h3>PINTAR EN TU CARA SONRISAS LA MAYOR DE MIS PASIONES</h3>
							<p>
Tu renaces al amante, y adormeces al guerrero
haces que solo sepa hablar con el corazon primeiro
Y te quiero, eres la luz de mi agujero
esa manta que me arrpa en este frio mes de enero
Eres la mas linda flor que vi crescer entre mis tierras
La luz y la paz y un reportero de guerras, y por ti saltare todas las valhas, valhas donde vallas
Besare tus huellas en el suelo, porque te quiero
Gritare al planeta entero, que eres tu y soy yo
Salvare cualquier escolho con tu apoyo, trepare por tu espalda, hasta llegar a tu cuello
para acariciarte tu odio, y definirte lo mas bello
todos tus detalles todos tus destellos
son astros en el cielo y no puedo vivir sin ellos
No crees que es lógico que mi obsesion es pintar en tu cara sonrisas la mayor de mis pasiones
Es... Hoy de nuevo volvi a soñar con mis frases, para que las escuchases y volases
y que me crees, siempre sabes ser mi guia
y mostrarme las direcciones en mis momentos de duda ante las duras decisiones
que facil lo pones sin condiciones ya ves todos son celebraciones</p>
						</div>
					</div>

				<hr class="major" />

				<!-- Elements -->
					<h2 id="elements">MI SUPER HERMOSA  </h2>
					<div class="row 200%">
						<div class="6u 12u$(medium)">

							<!-- Text stuff -->
								<h3>TE EXTRAÑO</h3>
								<p>te quiero<b>te pienso</b> te extraño <strong>te quiero</strong>. te pienso <i>te extraño</i> te quiero <em>te pienso</em>.
								te extraño <sup>te quiero</sup> te pienso <sub>te extraño</sub> te quiero
								Te pienso <u>te extraño</u> te quiero <code>te pienso (;;) { ... }</code>.
								te extraño <a href="#">te quiero</a>.</p>
								<hr />
								<h2>1.me gusta tu sonrisa </h2>
								<h3>2.me encantan tus piernas</h3>
								<h4>3.me gustan tus dientes lindos</h4>
								<h5>4.me gusta tu olor </h5>
								<h6>5.me gusta hacete el amor no me interesa que se pierda tu inocencia fugas</h6>
								<hr />
								<header>
									<h2>Mire monica Daniela Pineda Muños de |TARAZONA|</h2>
									<p>Las cobijas si son de las peluditas por ambos lados no tienen derecho</p>
								</header>
								<p>Trata de encuciar menos coladores y cucharas y si los ensucias lavalos </p>
								<header>
									<h3>Lolita es Linda</h3>
									<p>lolita es muy linda pero trata de no gastar tanto dinero en ropa o cosas que ella no necesita</p>
								</header>
								<p>yo soy muy distraido no me regañe tanto por que se me olvidan las cosas </p>
								<header>
									<h4>Soy guapisisisisimo Cuideme y de gracias a los espitirus del cielo por ponerme en su vida</h4>
									<p>Los limones los tengo que partir de la forma que yo quiero asi sea la incorrecta para ti</p>
								</header>
								<p>si me ves con los audifonos no te enojes dime que quieres halbar y yo con doto el gusto me los quito</p>

							<!-- Lists -->
								<h3>No me regañe tanto !</h3>
								<div class="row">
									<div class="6u 12u$(small)">

										<h4>GRACIAS</h4>
										<ul>
											<li>Por cuidarme y esta pendiente de mi</li>
											<li>Por preocuparte por mi uñas pichas </li>
											<li>Por saber tanto</li>
											<li>por estar pendiente de si como de si durmo de si respiro</li>
										</ul>

										<h4>Planes para este 2024</h4>
										<ul class="alt">
											<li>conseguir practica o hacer proyecto</li>
											<li>Tener dinero para ir aviajes y comer cosas ricas</li>
											<li>Regalar te el primer peluche de la relacion </li>
										</ul>

									</div>
									<div class="6u$ 12u$(small)">

										<h4>Te amo mucho. Abajo ya no hay nada mas</h4>
										<ol>
											<li>Dolor pulvinar etiam magna etiam.</li>
											<li>Etiam vel felis at lorem sed viverra.</li>
											<li>Felis enim feugiat dolore viverra.</li>
											<li>Dolor pulvinar etiam magna etiam.</li>
											<li>Etiam vel felis at lorem sed viverra.</li>
											<li>Felis enim feugiat dolore viverra.</li>
										</ol>

										<h4>Icons</h4>
										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
											<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
										</ul>

									</div>
								</div>
								<h4>Definition</h4>
								<dl>
									<dt>Item 1</dt>
									<dd>
										<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
									</dd>
									<dt>Item 2</dt>
									<dd>
										<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
									</dd>
									<dt>Item 3</dt>
									<dd>
										<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
									</dd>
								</dl>

								<h4>Actions</h4>
								<ul class="actions">
									<li><a href="#" class="button special">Default</a></li>
									<li><a href="#" class="button">Default</a></li>
									<li><a href="#" class="button alt">Default</a></li>
								</ul>
								<ul class="actions small">
									<li><a href="#" class="button special small">Small</a></li>
									<li><a href="#" class="button small">Small</a></li>
									<li><a href="#" class="button alt small">Small</a></li>
								</ul>
								<div class="row">
									<div class="3u 12u$(small)">
										<ul class="actions vertical">
											<li><a href="#" class="button special">Default</a></li>
											<li><a href="#" class="button">Default</a></li>
											<li><a href="#" class="button alt">Default</a></li>
										</ul>
									</div>
									<div class="3u 12u$(small)">
										<ul class="actions vertical small">
											<li><a href="#" class="button special small">Small</a></li>
											<li><a href="#" class="button small">Small</a></li>
											<li><a href="#" class="button alt small">Small</a></li>
										</ul>
									</div>
									<div class="3u 12u$(small)">
										<ul class="actions vertical">
											<li><a href="#" class="button special fit">Default</a></li>
											<li><a href="#" class="button fit">Default</a></li>
											<li><a href="#" class="button alt fit">Default</a></li>
										</ul>
									</div>
									<div class="3u$ 12u$(small)">
										<ul class="actions vertical small">
											<li><a href="#" class="button special small fit">Small</a></li>
											<li><a href="#" class="button small fit">Small</a></li>
											<li><a href="#" class="button alt small fit">Small</a></li>
										</ul>
									</div>
								</div>

							<!-- Blockquote -->
								<h3>Blockquote</h3>
								<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis.</blockquote>

							<!-- Table -->
								<h3>Table</h3>

								<h4>Default</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Name</th>
												<th>Description</th>
												<th>Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item 1</td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item 2</td>
												<td>Vis ac commodo adipiscing arcu aliquet.</td>
												<td>19.99</td>
											</tr>
											<tr>
												<td>Item 3</td>
												<td> Morbi faucibus arcu accumsan lorem.</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item 4</td>
												<td>Vitae integer tempus condimentum.</td>
												<td>19.99</td>
											</tr>
											<tr>
												<td>Item 5</td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>29.99</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td>100.00</td>
											</tr>
										</tfoot>
									</table>
								</div>

								<h4>Alternate</h4>
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>Name</th>
												<th>Description</th>
												<th>Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Item 1</td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item 2</td>
												<td>Vis ac commodo adipiscing arcu aliquet.</td>
												<td>19.99</td>
											</tr>
											<tr>
												<td>Item 3</td>
												<td> Morbi faucibus arcu accumsan lorem.</td>
												<td>29.99</td>
											</tr>
											<tr>
												<td>Item 4</td>
												<td>Vitae integer tempus condimentum.</td>
												<td>19.99</td>
											</tr>
											<tr>
												<td>Item 5</td>
												<td>Ante turpis integer aliquet porttitor.</td>
												<td>29.99</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td>100.00</td>
											</tr>
										</tfoot>
									</table>
								</div>

						</div>
						<div class="6u$ 12u$(medium)">

							<!-- Buttons -->
								<h3>Buttons</h3>
								<ul class="actions">
									<li><a href="#" class="button special">Special</a></li>
									<li><a href="#" class="button">Default</a></li>
									<li><a href="#" class="button alt">Alternate</a></li>
								</ul>
								<ul class="actions">
									<li><a href="#" class="button special big">Big</a></li>
									<li><a href="#" class="button">Default</a></li>
									<li><a href="#" class="button alt small">Small</a></li>
								</ul>
								<ul class="actions fit">
									<li><a href="#" class="button special fit">Fit</a></li>
									<li><a href="#" class="button fit">Fit</a></li>
									<li><a href="#" class="button alt fit">Fit</a></li>
								</ul>
								<ul class="actions fit small">
									<li><a href="#" class="button special fit small">Fit + Small</a></li>
									<li><a href="#" class="button fit small">Fit + Small</a></li>
									<li><a href="#" class="button alt fit small">Fit + Small</a></li>
								</ul>
								<ul class="actions">
									<li><a href="#" class="button special icon fa-search">Icon</a></li>
									<li><a href="#" class="button icon fa-download">Icon</a></li>
									<li><a href="#" class="button alt icon fa-check">Icon</a></li>
								</ul>
								<ul class="actions">
									<li><span class="button special disabled">Special</span></li>
									<li><span class="button disabled">Default</span></li>
									<li><span class="button alt disabled">Alternate</span></li>
								</ul>

							<!-- Form -->
								<h3>Form</h3>

								<form method="post" action="#">
									<div class="row uniform">
										<div class="6u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" placeholder="Name" />
										</div>
										<div class="6u$ 12u$(xsmall)">
											<input type="email" name="email" id="email" value="" placeholder="Email" />
										</div>
										<!-- Break -->
										<div class="12u$">
											<div class="select-wrapper">
												<select name="category" id="category">
													<option value="">- Category -</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
										</div>
										<!-- Break -->
										<div class="4u 12u$(small)">
											<input type="radio" id="priority-low" name="priority" checked>
											<label for="priority-low">Low Priority</label>
										</div>
										<div class="4u 12u$(small)">
											<input type="radio" id="priority-normal" name="priority">
											<label for="priority-normal">Normal Priority</label>
										</div>
										<div class="4u$ 12u$(small)">
											<input type="radio" id="priority-high" name="priority">
											<label for="priority-high">High Priority</label>
										</div>
										<!-- Break -->
										<div class="6u 12u$(small)">
											<input type="checkbox" id="copy" name="copy">
											<label for="copy">Email me a copy of this message</label>
										</div>
										<div class="6u$ 12u$(small)">
											<input type="checkbox" id="human" name="human" checked>
											<label for="human">I am a human and not a robot</label>
										</div>
										<!-- Break -->
										<div class="12u$">
											<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
										</div>
										<!-- Break -->
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
												<li><input type="reset" value="Reset" class="alt" /></li>
											</ul>
										</div>
									</div>
								</form>

								<hr />

								<form method="post" action="#">
									<div class="row uniform">
										<div class="9u 12u$(small)">
											<input type="text" name="query" id="query" value="" placeholder="Query" />
										</div>
										<div class="3u$ 12u$(small)">
											<input type="submit" value="Search" class="fit" />
										</div>
									</div>
								</form>

							<!-- Image -->
								<h3>Image</h3>

								<h4>Fit</h4>
								<span class="image fit"><img src="images/pic01.jpg" alt="" /></span>
								<div class="box alt">
									<div class="row 50% uniform">
										<div class="4u"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<div class="4u"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<div class="4u$"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<!-- Break -->
										<div class="4u"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<div class="4u"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<div class="4u$"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<!-- Break -->
										<div class="4u"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<div class="4u"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
										<div class="4u$"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
									</div>
								</div>

								<h4>Left &amp; Right</h4>
								<p><span class="image left"><img src="images/pic02.jpg" alt="" /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.</p>
								<p><span class="image right"><img src="images/pic02.jpg" alt="" /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.</p>

							<!-- Box -->
								<h3>Box</h3>
								<div class="box">
									<p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus lorem ipsum dolor sit amet nullam.</p>
								</div>

							<!-- Preformatted Code -->
								<h3>Preformatted</h3>
								<pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';
</code></pre>

						</div>
					</div>

			</div>

		<!-- Footer -->
            {{>footer}}
	</body>
</html>