<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Oiga ! la quiero muchisimo </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		{{> header}}

		<!-- Nav -->
			{{> navbar}}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2> Oiga ! la amo </h2>
							<p>02.04.2024</p>
						</header>
						<div class="content">
							<p>Ella es mi adorado tormento Se adueñado de mi pensamiento Se adueñado de mi pensamiento Mi amor y mi voluntad</p>

							<p>mi amor quiero pedirte perdon por todas esas veces que te hago llorar que no te entiendo que dejo pasar cosas importanes para ti, de verdad me importas y no quiero que sufras por mis descuidos y mi falta de atención yo trato de mejorar y quiero ser un mejor hombre para ti</p>

							<p>oiga Novia Pineda dicho lo anterior si ves que no te doy la talla o si tienes dudas o si ya de plano en algun momento de tu vida te das cuenta que no soy el hombre que quieres y necesitas, porfavor hasmelo saber no quiero que crees resentimientos y malos sentimientos hacia mi me parece mas adecuado que lo digas y que las cosas que vivimos queden como un recuerdo bonito </p>

							<p>por otro lado yo te amo mucho y si se da el caso contrario no creo poder terminar con tigo pero tu eres muy atenta y estas muy pendiente de mi de seguro vas a notar si estoy guardando rencor o sentimientos negativos hacia ti y en ese caso tampoco me termines haz el trabajo de la relación el trabajo que tienes desde nuestra primeras citas y hazme hablar, para mi nuestra relación es algo muy fuerte y no creo que por cosas pequeñas o grandes se llegue a dañar </p>

							<p>ya no se que mas decirte este se supone que era la sorpresa del aniversario 4.3 pero no pude terminarlo bueno si lo termine a timpo pero no he podido subirlo a internet no se cuantas veces ya te he dicho o escrito que te amo pero creeme que este ultimo va con todo mi sentimiento y todo mi amor<b> TE AMO</b>  </p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
        {{> footer}}

	</body>
</html>